@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  * {
    overscroll-behavior: none; /* 모든 방향에서 바운스 효과 비활성화 */
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* html과 body를 전체 높이로 설정 */
    overflow: hidden; /* 스크롤 비활성화 */
  }
  
  .loading {
    margin: 0;
    height: 100vh; /* 전체 화면 높이 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center;
  }
  
  .title h1 {
    font-size: 30px;
    font-family: 'Pretendard-SemiBold';
    color: transparent; /* 텍스트 색상을 투명하게 설정 */
    transform: translateY(-150%);
    background: linear-gradient(to right, #29D2BB, #00A891 50%);
    -webkit-background-clip: text; /* 배경을 텍스트 클립으로 설정 */
    background-clip: text; /* 텍스트 안에 그라데이션을 표시 */
  }
  
  .dots {
    display: inline; /* 점들을 별도 스타일로 유지 */
  }
  
  #video {
    display: none; /* 비디오를 화면에서 숨김 */
}

.container {
  transform: translateY(110%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container .title-box {
  text-align: center;
  width: 300px;
  position: absolute;
  transform: translateY(-190%);

  background-color: white;
}

.container h2 {
  font-family: 'Pretendard-SemiBold';
  font-size: 20px;
  line-height: 10%;
  color: #516965;
}

.container h3 {
  font-family: 'Pretendard-SemiBold';
  font-size: 17px;
  line-height: 30%;
  color: #18B09B;
}

.container .divider {
  width: calc(100%);
  color: #C1C1C1;
}

.emotion-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.emotion-box {
  margin: 32px;
  width: 142px;
  height: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.15);
  border-radius: 27px;

  transition: all 0.3s ease-out;

  &:hover {
    transform: scale(1.04);
    transition: all 0.3s ease-out;
    cursor: pointer;
}
}

.emotion-box h1 {
  font-size: 22px;
}

.emotion-box.happy{h1{color:#FFC107}}
.emotion-box.sad {h1{color:#4682B4}}
.emotion-box.angry {h1{color:#D32F2F}}
.emotion-box.surprise {h1{color:#E0CC19}}
.emotion-box.neutral {h1{color:#00CED1}}

.emotion-box.happy:hover {h1{color:#D1A316}}
.emotion-box.sad:hover {h1{color:#436D90}}
.emotion-box.angry:hover {h1{color:#A82828}}
.emotion-box.surprise:hover {h1{color:#AC9D19}}
.emotion-box.neutral:hover {h1{color:#11A9AB}}
