<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feelsnap</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo-main.svg') }}" type="image/svg+xml">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bookhouse.css') }}"
    />
  </head>
  <body>
    <div class="backtomain" onclick="moveToLobby()">< 메인화면으로</div>
    <div class="bookhouse">
      <div class="titleclear">
        <h1>서재</h1>
        <!-- 초기화 버튼 -->
        <button id="clearButton" class="clear-button">서재 초기화</button>
      </div>
      <div class="buttonsearch">
        <!-- 감정 필터 -->
        <div class="filter-bar">
          <button class="filter-button" data-emotion="all"></button>
          <button class="filter-button" data-emotion="happy"></button>
          <button class="filter-button" data-emotion="sad"></button>
          <button class="filter-button" data-emotion="angry"></button>
          <button class="filter-button" data-emotion="surprise"></button>
          <button class="filter-button" data-emotion="neutral"></button>
        </div>
        <!-- 검색창 -->
        <div class="search-bar">
          <input
            type="text"
            id="searchInput"
            placeholder="책 이름을 입력하세요"
          />
          <img
            src="{{ url_for('static', filename='img/search-img.svg') }}"
            alt=""
          />
        </div>
      </div>

      <!-- 책 선반 -->
      <div class="shelf" id="bookShelf"></div>
    </div>
    <script src="{{ url_for('static', filename='js/bookhouse.js') }}"></script>
  </body>
</html>
