<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feelsnap</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo-main.svg') }}" type="image/svg+xml">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bookshelf.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/shelfbutton.css') }}"
    />
  </head>
  <body>
    <div class="buttons">
      <h1 class="back" onclick="moveToLobby()">< 뒤로가기</h1>
      <h1 class="bookhouse" onclick="moveToHouse()">서재가기 ></h1>
    </div>
    <div class="bookshelf">
      <h1 id="emotionTitle">Emotion</h1>
      <h3>추천 책 6권</h3>
      <div class="book-grid" id="bookGrid"></div>
    </div>

    <script src="{{ url_for('static', filename='js/bookshelf.js') }}"></script>
  </body>
</html>
