<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feelsnap</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo-main.svg') }}" type="image/svg+xml">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/loading.css') }}"
    />
  </head>
  <body>
    <div class="loading">
      <div class="title">
        <h1 id="loading-text">
          감정에 맞는 책을 찾는 중이에요<span class="dots">...</span>
        </h1>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/loading.js') }}"></script>
    <script src="{{ url_for('static', filename='js/emotionloading.js') }}"></script>
  </body>
</html>
